#root {
  font-family:  'Courier New', Courier, monospace;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.products {
  position: center;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  place-items: center;
}

.product {
  width: 100%;
  max-width: 250px;
  margin: 1%;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.product:hover {
  transform: scale(1.02); 
}

.product-image {
  width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: contain;
}


.product-body {
  padding: 10px;
}

.product-name {
  font-size: 1.2em;
  margin-bottom: 5px;
  height: 80px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.product-description {
  font-size: 1em;
  color: #666;
  text-align: left;
  max-height: 100px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.product-price {
  font-size: 1.2em;
  color: #333;
}

.navBar {
  display: flex;
  flex-direction: row;
  background-color: rgb(211, 211, 211);
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: rgb(175, 175, 175);
  align-items: center;
  min-height: 40px;
  padding-left: 25px;
  font-size: large;
}

button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  border: 2px solid #333;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover {
  background-color: #333;
  color: #fff;
}

.search {
  color: #FB6090;
  background: white;
  width: 250px;
  height: 40px;
  font-size: 20px;
  border-radius: 15px;
  padding-bottom: 5px;
  cursor: pointer;
  border: #821D30;
  border-style: dashed;
  transform: scale(1);
  transition: transform 0.3s ease;
  margin-bottom: 40px;
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;

}
